<div class="calendar-panel jq-hide" id={{id}}>
    <div class="calendar-container">
        <div class="calendar-box">
            <div class="calendar-top">
                <div class="calendar-prv"></div>
                <div class="calendar-title" data-type="days">
                    <span class="dates">{{selectYear}}年{{selectMonth}}月</span>
                </div>
                <div class="calendar-next"></div>
            </div>
            <table>
                <thead id="calendar-thead">

                </thead>
                <tbody id="calendar-tbody">
                </tbody>
            </table>
            <div class="calendar-tip">
                <span> 今天</span>
            </div>
        </div>
    </div>
</div>